<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Bootstrap -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://kit.fontawesome.com/0d681f4c9d.js"
      crossorigin="anonymous"
    ></script>
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Edu+SA+Beginner&family=Nunito&family=Urbanist&display=swap"
      rel="stylesheet"
    />
    <!-- Custom CSS -->
    <link href="css/main.css" rel="stylesheet" type="text/css" />
    <link rel="icon" type="image/png" href="favicon.png" />
    <title>Joshua Ibrom</title>
  </head>
  <body class="bg-dark text-light">
    <%- include('./components/navbar.ejs') %>
    <div
      data-bs-spy="scroll"
      data-bs-target="#topMainNav"
      data-bs-root-margin="0px 0px -45%"
      data-bs-smooth-scroll="true"
      tabindex="0"
    >
      <!-- Hero (Home) Section -->
      <%- include('./components/home/hero.ejs') %>
      <!-- Projects Section -->
      <%- include('./components/home/projects.ejs') %>
      <!-- About Section -->
      <%- include('./components/home/about.ejs') %>
      <!-- Contact Section -->
      <%- include('./components/home/contact.ejs') %>
      <!-- Closing Video -->
      <div class="container-xl">
        <div class="container-fluid py-5 d-flex flex-column align-items-center">
          <video class="w-75" poster="img/new_popbg.png" controls>
            <source src="video/closer.mp4" type="video/mp4" />
          </video>
        </div>
      </div>
    </div>
    <%- include('./components/footer.ejs') %>
  </body>
</html>
